<!doctype html>
<html lang="es">
  <head>
    <link rel="shortcut icon" href="IMG/favicon.png" type="image/x-icon" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="CSS/style.css">
	<title>Tienda La Generica - Medellin</title>
  <style>
    .container{
      max-width: 1050px;
    }
  </style>
</head>
  <body>
    <div>
      <img src="/IMG/header.png"class="img-fluid" alt="Tienda La Generica - Medellin">
    </div>

    <ul class="nav flex-column">
      <li class="nav-item">
        <form action="/productos" method="GET">
          <input class="btnProductos" type="submit" name="btnProductos" id="btnProductos" value="btnProductos">
        </form>
        </li>
      <li class="nav-item">
        <form action="/clientes" method="GET">
          <input class="btnClientes" type="submit" name="btnClientes" id="btnClientes" value="btnClientes">
        </form>
      </li>
      <li class="nav-item">
        <form action="/ventas" method="GET">
          <input class="btnVentas" type="submit" name="btnVentas" id="btnVentas" value="btnVentas">
        </form>
      </li>
      <li class="nav-item">
        <form action="/reportes" method="GET">
          <input class="btnReportes" type="submit" name="btnReportes" id="btnReportes" value="btnReportes">
       </form>
      </li>
      <li class="nav-item">
        <form action="/login" method="GET">
          <input class="btnSalir" type="submit" name="btnSalir" id="btnSalir" value="btnSalir">
        </form>
      </li>
    </ul>
    
    <div class="container">

      <div class="Shadow-lg pb-3 md-5 bg-body rounded">

        <figure class="text-center">
          <blockquote class="blockquote">
            <h1>Clientes</h1>
          </blockquote>
        </figure>
        
        <form id="form" action="/clientes/crear" method="POST">
          <table class="table mt-2">
            <tbody>
              <tr>
                <td>
                  <label class="form-label" for="txtCedula">Cedula</label>
                  <input class="form-control" type="number" name="txtCedula" id="txtCedula" maxlength="20" min="1" pattern="[0-9]+" required>
                </td>
                <td>
                  <label class="form-label" for="txtCorreo">Correo Electrónico </label>
                  <input class="form-control" type="email" name="txtCorreo" id="txtCorreo"	maxlength="50" required>
                </td>
              </tr>  
              <tr>
                <td>
                  <label class="form-label" for="txtNombre">Nombre Completo </label>
                  <input class="form-control" type="text" name="txtNombre" id="txtNombre" maxlength="50" required>
                </td>
                <td>
                  <label class="form-label" for="txtDireccion">Dirección </label>
                  <input class="form-control" type="text" name="txtDireccion" id="txtDireccion" maxlength="50" required>
               </td>
              </tr>  
              <tr>
                <td>
                  <label class="form-label" for="txtTelefono">Teléfono</label> 
                  <input class="form-control" type="number" name="txtTelefono" id="txtTelefono" maxlength="20" min="1" pattern="[0-9]+" required>
                </td>
              </tr> 
            </table>          
      </div> 
      
      <table class="table mt-2">
              <button type="submit" class="w-100 btn btn-crear btn-lg"><i class="bi bi-person-plus"></i> Crear Cliente</button>
      </table>
      
      </form>
       
        <table id="tablaClientes" class="display" style="text-align: center;">
          <thead>
            <tr>
              <th>Cedula</th>
              <th>Nombre</th>
              <th>Telefono</th>
              <th>Correo Electronico</th>
              <th>Direccion</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <%clientes.forEach((cliente) => {%>
              <tr>
                <td><%=cliente._id%></td>
                <td><%=cliente.nombre_clientes%></td>
                <td><%=cliente.telefono_clientes%></td>
                <td><%=cliente.email_clientes%></td>
                <td><%=cliente.direccion_clientes%></td>
                <td>
                  <a type="button" class="btnEditar btn btn-outline-primary bi bi-pencil"></a>
                  <!-- <a href="/clientes/eliminar/<%=cliente._id%>" onclick="return confirm('¿Esta seguro de querer eliminar el cliente?');" class="btn btn-outline-danger bi bi-trash"></a> -->
                  <a  onclick="confirmar(<%=cliente._id%>)" class="btn btn-outline-danger bi bi-trash"></a> 
                </td>
              </tr>
              <% })%>
          </tbody>
        </table>
    </div>

    <div id="modalCliente" class="modal fade" tabindex="-1" aria-labelledby="modalCliente" aria-hiden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header bg-primary text-white">
            <h5 class="modal-title" id="exampleModalLabel">Editar Cliente</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="form" action="/clientes/modificar" method="POST">
               <input type="number" name="txtCedula_editar" id="txtCedula_editar" hidden>
              <div class="mb-3">
                <label class="form-label" for="txtNombre">Nombre Completo </label>
                <input class="form-control" type="text" name="txtNombre_editar" id="txtNombre_editar" maxlength="50" required>
              </div>
              
              <div class="mb-3">
              <label class="form-label" for="txtTelefono">Teléfono</label> 
              <input class="form-control" type="number" name="txtTelefono_editar" id="txtTelefono_editar" maxlength="20" min="1" pattern="[0-9]+" required>
              </div>
              
              <div class="mb-3">
                <label class="form-label" for="txtCorreo">Correo Electrónico </label>
                <input class="form-control" type="email" name="txtCorreo_editar" id="txtCorreo_editar"	maxlength="50" required>
              </div>
    
              <div class="mb-3">
                <label class="form-label" for="txtDireccion">Dirección </label>
                <input class="form-control" type="text" name="txtDireccion_editar" id="txtDireccion_editar" maxlength="50" required>
              </div> 

          </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Modificar</button>
            </div>
            </form>
          </div>
        </div>
      </div>
    
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>
    <script type="text/javascript">document.oncontextmenu = function(){return false;}</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="js/codeclientes.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.10/dist/sweetalert2.all.min.js"></script> 
    <script >
      $(document).ready(function() {
      $('#tablaClientes').DataTable({
          "language": {
            "decimal": ",",
            "thousands": ".",
            "lengthMenu": "Muestra _MENU_ registros por pagina",
            "zeroRecords": "No hay registros en la tabla",
            "info": "Mostrando Pagina _PAGE_ de _PAGES_",
            "infoEmpty": "No hay registros en la tabla",
            "infoFiltered": "(Filtrado de _MAX_ registros totales)",
            "search": "Buscar: ",
            "paginate": {
            "next": "Siguiente Pagina",
            "previous": "Pagina Anterior"
          }
        }
      });
    });
    </script>
  </body>
</html>
