<!doctype html>
<html lang="es">
  <head> 
    <link rel="shortcut icon" href="IMG/favicon.png" type="image/x-icon" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="CSS/style.css">
	<title>Tienda La Generica - Medellin</title>
  <style>
    .container{
      max-width: 1050px;
    }
  </style>
</head>
  <body>
    <div>
      <img src="/IMG/header.png"class="img-fluid" alt="Tienda La Generica - Medellin">
    </div>

    <ul class="nav flex-column">
      <li class="nav-item">
        <form action="/productos" method="GET">
          <input class="btnProductos" type="submit" name="btnProductos" id="btnProductos" value="btnProductos">
        </form>
        </li>
      <li class="nav-item">
        <form action="/clientes" method="GET">
          <input class="btnClientes" type="submit" name="btnClientes" id="btnClientes" value="btnClientes">
        </form>
      </li>
      <li class="nav-item">
        <form action="/ventas" method="GET">
          <input class="btnVentas" type="submit" name="btnVentas" id="btnVentas" value="btnVentas">
        </form>
      </li>
      <li class="nav-item">
        <input class="btnImprimir" id="btnImprimir" name="btnImprimir" type="submit" onclick="printDiv('printableArea')"  value="Imprimir Factura" />
      </li>
      <li class="nav-item">
        <form action="/reportes" method="GET">
          <input class="btnReportes" type="submit" name="btnReportes" id="btnReportes" value="btnReportes">
       </form>
      </li>
      <li class="nav-item">
        <form action="/login" method="GET">
          <input class="btnSalir" type="submit" name="btnSalir" id="btnSalir" value="btnSalir">
        </form>
      </li>
    </ul>
    
    <div class="container">
      <figure class="text-center">
        <blockquote class="blockquote">
          <h1>Factura Tiendas la Generica - Medellin</h1>
        </blockquote>
      </figure>
    </div>

    <div id="printableArea"> 	
        <div class="container">
          <div class="row">
            <figure class="text-center">
              <blockquote class="blockquote">
                <div class="col-xs-4"><h5>Tiendas la Generica</h5></div>
                <div class="col-xs-4"><h5>Calle 123 # 45 - 56 Esquina</h5></div>
                <div class="col-xs-4"><h5>Celular 0123456789</h5></div>
                <div class="col-xs-4"><h5>NIT: 98-765-432-1</h5></div>
            </blockquote>
          </figure>
          </div>
            <hr>
            <div class="row">
                <div class="col-xs-2">
                    <div class="titulo">Nro. Factura:       <%=venta.codigo_venta_ventas%></div>
                </div>               
            </div>   
            <div class="row">
                <div class="col-xs-2">
                    <div class="titulo">Fecha Emision: <%  fecha = new Date();
                      options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour:'numeric', minute: 'numeric',
                                  second:'numeric'};%>
                  <%= fecha.toLocaleDateString("es-CO",options) %></div>
                </div>
                <div class="col-xs-2">
                    <div class="titulo">Cedula Cliente:  <%=venta.cedula_cliente_ventas%> </div>
                </div>
            </div>  
            <div class="row">
   
                <div class="col-xs-2">
                    <div class="titulo">Telefono:     <%=txtTelefonoCliente%> </div>
                </div>
                 <div class="col-xs-2">
                    <div class="titulo">Direccion:    <%=txtdireccionCliente%></div>
                </div>          
            <div class="row">
                <div class="col-xs-2">
                    <div class="titulo">Correo Electronico: <%=txtemailCliente %></div>
                </div>
                <div class="col-xs-6">
                  <div class="titulo">Nombres/Razon: <%=txtNombreCliente%></div>
                </div>
            </div> 
            
            <div>
              <br>
            </div>  
            
            <table class="table table-bordered">
            <thead>
              <tr>
                  <th><h5 class="titulo">&nbsp;&nbsp;&nbsp;Codigo&nbsp;&nbsp;&nbsp;</h5></th>
                  <th><h5 class="titulo">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Descripcion&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5></th>
                  <th><h5 class="titulo">&nbsp;&nbsp;&nbsp;Cant.&nbsp;&nbsp;&nbsp;</h5></th>
                  <th><h5 class="titulo">&nbsp;&nbsp;&nbsp;&nbsp;P.Unit.&nbsp;&nbsp;&nbsp;&nbsp;</h5></th>
                  <th><h5 class="titulo">&nbsp;&nbsp;&nbsp;&nbsp;IVA.&nbsp;&nbsp;&nbsp;&nbsp;</h5></th>
                  <th><h5 class="titulo">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Subtotal&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5></th>
              </tr>
            </thead>
            <tbody>

              <%detalles.forEach((detalle) => {%>  
                  <tr>
                    <input type="hidden" name="_id"  id="_id" value="<%=detalle._id%>">
                    <th><%=detalle.codigo_producto_detalle_ventas%></th>
                    <td><%=detalle.nombre_producto_detalle_ventas%></td>
                    <td><%=detalle.cantidad_producto_detalle_ventas%></td>
                    <td>$ <%=detalle.valor_producto_detalle_ventas%></td>
                    <td>$ <%=detalle.valoriva_detalle_ventas%></td>
                    <td>$ <%=detalle.valor_total_detalle_ventas%></td>
                  </tr>
                  <% })%>        
            </tbody>
          </table>
            <div class="row sinespacio">
              <div>
                <br>
              </div>
                <div class="col-xs-3">
                    <div>Total Sin IVA:   <%=venta.valor_venta_ventas%></div>
                </div>
               
            </div>
            <div class="row sinespacio">
                <div class="col-xs-3">
                    <div id="blanco2"></div>
                </div>
                <div class="col-xs-3">
                    <div>Impuesto 19%:       <%=venta.ivaventas_ventas%> </div>
                </div>
            </div>    

            <div class="row sinespacio">
                <div class="col-xs-3">
                    <div id="blanco4"></div>
                </div>
                <div class="col-xs-3">
                    <div>Valor a Pagar:      <%=venta.total_venta_ventas%></div>
            </div>
            <div>
              <br>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-8 titulopie">
                    Debo y pagare incondicionalmente a la orden de _____ la cantidad de _________ en esta ciudad de Medellin
                    En  caso de  mora me  comprometo a  pagar el interes del _____ anual  desde su  vencimiento  hasta la 
                    cancelacion  de  la  deuda. En  el evento de juicio me someto a los jueces de la ciudad de Medellin y al 
                    procedimiento  ejecutivo  o  verbal  sumario a eleccion de _____ sin protesto eximese de presentacion 
                    para el pago y de aviso por falta del mismo. 
                </div>
            </div>
            <div>
              <br>
            </div>
            <div class="row">
                <div class="col-xs-5 titulopie">
                    Medellin, ______ DE ____________ DEL ______</div>
            </div>
        </div>
        <div>
          <br>
        </div>
   
  </div>

    <script type="text/javascript">document.oncontextmenu = function(){return false;}</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="js/codefactura.js"></script>
  </body>
</html>
