<!doctype html>
<html lang="es">
  <head>
  <link rel="shortcut icon" href="IMG/favicon.png" type="image/x-icon" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap5.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="CSS/style.css">
	<title>Tienda La Generica - Medellin</title>
  <style>
    .container{
      max-width: 1050px;
    }
  </style>
</head>
  <body>
    <div>
      <img src="/IMG/header.png"class="img-fluid" alt="Tienda La Generica - Medellin">
    </div>

    <ul class="nav flex-column">
      <li class="nav-item">
        <form action="/productos" method="GET">
          <input class="btnProductos" type="submit" name="btnProductos" id="btnProductos" value="btnProductos">
        </form>
        </li>
      <li class="nav-item">
        <form action="/clientes" method="GET">
          <input class="btnClientes" type="submit" name="btnClientes" id="btnClientes" value="btnClientes">
        </form>
      </li>
      <li class="nav-item">
        <form action="/ventas" method="GET">
          <input class="btnVentas" type="submit" name="btnVentas" id="btnVentas" value="btnVentas">
        </form>
      </li>
      <li class="nav-item">
        <form action="/reportes" method="GET">
          <input class="btnReportes" type="submit" name="btnReportes" id="btnReportes" value="btnReportes">
       </form>
      </li>
      <li class="nav-item">
        <form action="/login" method="GET">
          <input class="btnSalir" type="submit" name="btnSalir" id="btnSalir" value="btnSalir">
        </form>
      </li>
    </ul>
    
    <div class="container">

      <figure class="text-center">
        <blockquote class="blockquote">
          <h1>Reportes</h1>
        </blockquote>
      </figure>

      <form class="row gy-2 gx-3 align-items-center">
        <div class="col">
          <a style='cursor: pointer;' onClick="muestra_ocultaclientes('clientes')" title=""><img src="/IMG/listadoclientes.png" class="btnListadoClientes" alt="Listado Clientes"></a>
          <!-- <input class="btnListadoClientes" onclick="reporteclientes();" type="submit" name="btnListadoClientes" id="btnListadoClientes" value="btnListadoClientes"> -->
        </div>
        <div class="col">
          <a style='cursor: pointer;' onClick="muestra_ocultaventas('ventas')" title=""><img src="/IMG/ventascliente.png" class="btnVentasCliente" alt="Listado Ventas por cliente"></a>
          <!-- <input class="btnVentasCliente" onclick="reporteventas();" type="submit" name="btnVentasCliente" id="btnVentasCliente" value="btnVentasCliente"> -->
        </div>
      </form>

      <div id="clientes">
      <table id="tablaClientes" class="display">
        <thead>
          <tr>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Telefono</th>
            <th>Correo Electronico</th>
            <th>Direccion</th>
          </tr>
        </thead>
        <tbody>
        <% clientes.forEach((cliente) => {%>
          <tr>
            <td><%=cliente._id%></td>
            <td><%=cliente.nombre_clientes%></td>
            <td><%=cliente.telefono_clientes%></td>
            <td><%=cliente.email_clientes%></td>
            <td><%=cliente.direccion_clientes%></td>
          </tr>
        <% })%>
        </tbody>
      </table>
    </div>

    <div id="ventas">
      <table id="tablaVentas" class="display">
        <thead>
          <tr>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Ventas</th>
          </tr>
        </thead>
        <tbody>
          <% txtTotalVentas = 0;
          ventas.forEach((venta) => {%>
				  <tr>
					  <td>
              <%=venta.cedula_cliente_ventas%>
            </td>
						<td>
              <% clientes.forEach((cliente) => {
                if (cliente._id == venta.cedula_cliente_ventas)
                {%>
                  <%=cliente.nombre_clientes%>
                <%}
               })%>
            </td>
            <td>
              $ <%=venta.total_venta_ventas%>
            </td>
					</tr>
          <%txtTotalVentas = txtTotalVentas + venta.total_venta_ventas;
          })%>
        </tbody>
      </table>
      <div class="container">
        <div class="row">
          <div class="col-4" style="text-align:right">
            <h1><span class="badge bg-success">VENTAS TOTALES</span></h1>
          </div>
          <div class="col-8">
            <input type="text" name="txtTotalVentas" id="txtTotalVentas" value="<%=txtTotalVentas%>" maxlength="40" size="40" disabled>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap5.min.js"></script>   
    <script type="text/javascript">document.oncontextmenu = function(){return false;}</script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="JS/codereportes.js"></script> 

   
  </body>
</html>
